.news-list-item {
    display: flex;
    margin: 10px auto;
    border: 1.5px solid gray;
    min-width: 400px;
    color: black;
    text-decoration: none;
}

.news-list-item .news-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    width: 12rem;
    margin-right: 1rem;
}

.news-list-item .news-cover img {
    padding: .6rem;
    max-width: 100%;
    cursor: pointer;
}

.news-list-item .news-cover img:hover {
    color: gray;
}

.news-list-item .news-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: .3rem;
    min-width: 100px;
    padding: 0.1rem 2rem 0.5rem 0;
    text-align: justify;
}

.news-list-item .news-details .news-title {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.news-list-item .news-details .news-title:hover {
    color: gray;
}

.news-list-item .news-control {
    display: flex;
    margin-top: 0.5rem;
    flex-direction: column;
    justify-content: center;
    padding-right: 0.6rem;
}