.header {
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    min-width: 500px;
}

.header .logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header img {
    height: 100px;
}