.header {
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    min-width: 500px;
}

.header .logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: black;
}

.header img {
    height: 100px;
}

.header .logo-container span {
    font-size: 2rem;
    text-decoration-line: none;
}

.header .logo-container:hover {
    color: gray;
}